{% extends 'base.html.twig' %}

{% block title %}Liste des employés!{% endblock %}

{% block body %}
    <h1>Liste des emloyés</h1>
    {% for employe in employes %}
        {# {{...}} correspond a l'echo en symfony #}
        {# .raisonSociale va appeler le Getter de raison social que l'on retrouve dans Employe.php #}
        <a href="{{ path('afficherDetail_employe', {'id': employe.id}) }}">{{ employe }}</a>     ({{ employe.entreprise.raisonSociale}})<br>
    {% endfor %}

{% endblock %}
